// Extra small
.wp-block-cgb-block-glossary {
    .content {
        padding-left: 5px;
        padding-right: 5px;
        width: 100%;
        //background-color: blueviolet;

        .entry {
            background-color: white;
            padding: 5px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0px;
            }
            .name {
                h2 {
                    color: $eh-text-gray;
                    margin: 0px;
                }
            }
            .description {
                p {
                    margin: 0px;
                }
            }
        }
    }
}

// Small
@media only screen and (min-width: $grid-sm) {

}

// Medium
@media only screen and (min-width: $grid-md) {

}

// Large
@media only screen and (min-width: $grid-lg) {
    .wp-block-cgb-block-glossary {
        .content {
            width: 0px;
            flex-grow: 1;
        }
    }
}

// Xtra large
@media only screen and (min-width: $grid-xl) {

}
