$eh-background-primary: #0065AE;
$eh-background-light: #b4b9be;
$eh-background-gray: 82878c;

$eh-text-white: #ffffff;
$eh-text-gray: #82878c;
$text-color: black;
$eh-letter-active: $eh-background-primary;